---
http_interactions:
- request:
    method: get
    uri: http://data.gov.uk/api/3/action/package_search?q=defence-infrastructure-organisation-disposals-database-house-of-commons-report
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App:
      - ckan
      X-Varnish-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: "{\"help\": \"\\n    Searches for packages satisfying a given search
        criteria.\\n\\n    This action accepts solr search query parameters (details
        below), and\\n    returns a dictionary of results, including dictized datasets
        that match\\n    the search criteria, a search count and also facet information.\\n\\n
        \   **Solr Parameters:**\\n\\n    For more in depth treatment of each paramter,
        please read the `Solr\\n    Documentation <http://wiki.apache.org/solr/CommonQueryParameters>`_.\\n\\n
        \   This action accepts a *subset* of solr's search query parameters:\\n\\n\\n
        \   :param q: the solr query.  Optional.  Default: `\\\"*:*\\\"`\\n    :type
        q: string\\n    :param fq: any filter queries to apply.  Note: `+site_id:{ckan_site_id}`\\n
        \       is added to this string prior to the query being executed.\\n    :type
        fq: string\\n    :param sort: sorting of the search results.  Optional.  Default:\\n
        \       'relevance asc, metadata_modified desc'.  As per the solr\\n        documentation,
        this is a comma-separated string of field names and\\n        sort-orderings.\\n
        \   :type sort: string\\n    :param rows: the number of matching rows to return.\\n
        \   :type rows: int\\n    :param start: the offset in the complete result
        for where the set of\\n        returned datasets should begin.\\n    :type
        start: int\\n    :param facet: whether to enable faceted results.  Default:
        \\\"true\\\".\\n    :type facet: string\\n    :param facet.mincount: the minimum
        counts for facet fields should be\\n        included in the results.\\n    :type
        facet.mincount: int\\n    :param facet.limit: the maximum number of values
        the facet fields return.\\n        A negative value means unlimited. This
        can be set instance-wide with\\n        the :ref:`search.facets.limit` config
        option. Default is 50.\\n    :type facet.limit: int\\n    :param facet.field:
        the fields to facet upon.  Default empty.  If empty,\\n        then the returned
        facet information is empty.\\n    :type facet.field: list of strings\\n\\n\\n
        \   The following advanced Solr parameters are supported as well. Note that\\n
        \   some of these are only available on particular Solr versions. See Solr's\\n
        \   `dismax`_ and `edismax`_ documentation for further details on them:\\n\\n
        \   ``qf``, ``wt``, ``bf``, ``boost``, ``tie``, ``defType``, ``mm``\\n\\n\\n
        \   .. _dismax: http://wiki.apache.org/solr/DisMaxQParserPlugin\\n    .. _edismax:
        http://wiki.apache.org/solr/ExtendedDisMax\\n\\n\\n    **Results:**\\n\\n
        \   The result of this action is a dict with the following keys:\\n\\n    :rtype:
        A dictionary with the following keys\\n    :param count: the number of results
        found.  Note, this is the total number\\n        of results found, not the
        total number of results returned (which is\\n        affected by limit and
        row parameters used in the input).\\n    :type count: int\\n    :param results:
[...]
- request:
    method: get
    uri: http://data.gov.uk/dataset/defence-infrastructure-organisation-disposals-database-house-of-commons-report.rdf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/rdf+xml; charset=utf-8
      X-App:
      - ckan
      X-Varnish-Cache:
      - HIT
    body:
      encoding: UTF-8
      string: "<rdf:RDF xmlns:foaf=\"http://xmlns.com/foaf/0.1/\" xmlns:owl=\"http://www.w3.org/2002/07/owl#\"
        xmlns:rdfs=\"http://www.w3.org/2000/01/rdf-schema#\" xmlns:rdf=\"http://www.w3.org/1999/02/22-rdf-syntax-ns#\"
        xmlns:dcat=\"http://www.w3.org/ns/dcat#\" xmlns:dct=\"http://purl.org/dc/terms/\">\n
        \ <dcat:Dataset rdf:about=\"http://data.gov.uk/dataset/defence-infrastructure-organisation-disposals-database-house-of-commons-report\">\n
        \   <owl:sameAs rdf:resource=\"urn:uuid:47f7438a-506d-49c9-b565-7573f8df031e\"></owl:sameAs>\n
        \   <dct:description>MoD present and future disposal properties that are in
        the public domain that is provided for reference in the House of Commons library\r\n</dct:description>\n
        \       <dcat:keyword>Defence</dcat:keyword>\n        <dcat:keyword>Government</dcat:keyword>\n
        \       <dcat:keyword>Land and Property</dcat:keyword>\n        <dcat:keyword>Property</dcat:keyword>\n
        \       <dcat:keyword>disposals</dcat:keyword>\n        <dcat:keyword>house
        of commons</dcat:keyword>\n    <foaf:homepage rdf:resource=\"http://data.gov.uk/dataset/defence-infrastructure-organisation-disposals-database-house-of-commons-report\"></foaf:homepage>\n
        \   <rdfs:label>defence-infrastructure-organisation-disposals-database-house-of-commons-report</rdfs:label>\n
        \   <dct:identifier>defence-infrastructure-organisation-disposals-database-house-of-commons-report</dct:identifier>\n
        \   <dct:title>Defence Infrastructure Organisation Disposals Database House
        of Commons Report</dct:title>\n        <dcat:distribution>\n            <dcat:Distribution>\n
        \               <dcat:accessURL rdf:resource=\"https://www.gov.uk/government/publications/disposal-database-house-of-commons-report\"></dcat:accessURL>\n
        \                   <dct:format>\n                        <dct:IMT>\n                            <rdf:value>CSV</rdf:value>\n
        \                           <rdfs:label>CSV</rdfs:label>\n                        </dct:IMT>\n
        \                   </dct:format>\n            </dcat:Distribution>\n        </dcat:distribution>\n
        \       <dcat:distribution>\n            <dcat:Distribution>\n                <dcat:accessURL
        rdf:resource=\"https://www.gov.uk/government/publications/disposal-database-house-of-commons-report-\"></dcat:accessURL>\n
        \                   <dct:format>\n                        <dct:IMT>\n                            <rdf:value>CSV</rdf:value>\n
        \                           <rdfs:label>CSV</rdfs:label>\n                        </dct:IMT>\n
        \                   </dct:format>\n            </dcat:Distribution>\n        </dcat:distribution>\n
        \       <dcat:distribution>\[...]
- request:
    method: head
    uri: http://data.gov.uk/dataset/defence-infrastructure-organisation-disposals-database-house-of-commons-report
    body:
      encoding: US-ASCII
      string: ''
    headers:
      If-Modified-Since:
      - Mon, 03 Mar 2014 09:28:44 +0000
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-App:
      - ckan
      X-Varnish-Cache:
      - HIT
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 03 Mar 2014 09:28:44 GMT
[...]
- request:
    method: get
    uri: http://data.gov.uk/dataset/datapackage.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-App:
      - ckan
      X-Varnish-Cache:
      - HIT
    body:
      encoding: UTF-8
      string: "\n  \n  <!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Strict//EN\"
        \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\">\n<!--[if IE 8 ]>    <html
        class=\"no-js ie8\" lang=\"en\"\n      xmlns=\"http://www.w3.org/1999/xhtml\"\n
        \     xmlns:i18n=\"http://genshi.edgewall.org/i18n\"\n      xmlns:py=\"http://genshi.edgewall.org/\"\n
        \     xmlns:xi=\"http://www.w3.org/2001/XInclude\"\n    > <![endif]--><!--[if
        (gte IE 9)|!(IE)]><!--><html xmlns=\"http://www.w3.org/1999/xhtml\" class=\"no-js\"
        lang=\"en\"> <!--<![endif]-->\n\n\n\n  <!-- pure one-liner to avoid whitespace
        glitches -->\n\n<head>\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=IE7\"
        />\n  <meta charset=\"utf-8\" />\n  <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1.0\" />\n  <title>Error 404 | data.gov.uk</title>\n  <meta
        name=\"description\" content=\"\" />\n  <meta name=\"author\" content=\"\"
        />\n  <link rel=\"shortcut icon\" href=\"/assets/img/favicon.ico\" />\n      <link
        rel=\"alternate\" type=\"application/atom+xml\" title=\"DGU - Recent Revision
        History\" href=\"/revision/list?days=1&amp;format=atom\" />\n  <link rel=\"stylesheet\"
        href=\"/assets/css/datagovuk.min.css?1393844276741\" />\n  <link rel=\"stylesheet\"
        href=\"/css/dgu-ckan.min.css?1392895781898\" />\n  <!-- Python-generated JS
        values -->\n  <script type=\"text/javascript\">\n    CKAN = {};\n    // later
        use will add offsets with leading '/' so ensure no trailing slash\n    CKAN.SITE_URL
        = '/'.replace(/\\/$/, '');\n    CKAN.SITE_URL_NO_LOCALE = '/'.replace(/\\/$/,
        '');\n    CKAN.USER = '';\n  </script>\n  <script src=\"//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js\"></script>\n
        \ <script>\n    //<![CDATA[\n    window.jQuery || document.write('<script
        src=\"/assets/js/jquery-1.8.3.min.js\"[...]
- request:
    method: get
    uri: http://data.gov.uk/api/3/action/package_show?id=defence-infrastructure-organisation-disposals-database-house-of-commons-report
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App:
      - ckan
      X-Varnish-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: "{\"help\": \"Return the metadata of a dataset (package) and its resources.\\n\\n
        \   :param id: the id or name of the dataset\\n    :type id: string\\n    :param
        use_default_schema: use default package schema instead of\\n        a custom
        schema defined with an IDatasetForm plugin (default: False)\\n    :type use_default_schema:
        bool\\n\\n    :rtype: dictionary\\n\\n    \", \"success\": true, \"result\":
        {\"license_title\": \"UK Open Government Licence (OGL)\", \"maintainer\":
        null, \"groups\": [], \"temporal_coverage-from\": \"1/11/2012\", \"relationships_as_object\":
        [], \"data_dict\": \"{\\\"license_title\\\": \\\"UK Open Government Licence
        (OGL)\\\", \\\"maintainer\\\": null, \\\"relationships_as_object\\\": [],
        \\\"private\\\": false, \\\"maintainer_email\\\": null, \\\"revision_timestamp\\\":
        \\\"2012-10-05T13:51:55.812923\\\", \\\"id\\\": \\\"47f7438a-506d-49c9-b565-7573f8df031e\\\",
        \\\"metadata_created\\\": \\\"2012-10-05T13:51:55.812923\\\", \\\"metadata_modified\\\":
        \\\"2014-03-01T06:01:18.687776\\\", \\\"author\\\": null, \\\"author_email\\\":
        null, \\\"state\\\": \\\"active\\\", \\\"version\\\": null, \\\"creator_user_id\\\":
        null, \\\"type\\\": \\\"dataset\\\", \\\"resources\\\": [{\\\"resource_group_id\\\":
        \\\"f0c99934-1a9f-4aec-938f-d9a526715f41\\\", \\\"cache_last_updated\\\":
        \\\"2013-06-19T01:43:51.480908\\\", \\\"revision_timestamp\\\": \\\"2014-03-01T06:01:18.109401\\\",
        \\\"webstore_last_updated\\\": null, \\\"id\\\": \\\"583cf50b-deb6-45c9-9add-b9b0e27ebbeb\\\",
        \\\"size\\\": \\\"24334\\\", \\\"cache_filepath\\\": \\\"/mnt/shared/ckan_resource_cache/58/583cf50b-deb6-45c9-9add-b9b0e27ebbeb/disposal-database-house-of-commons-report\\\",
        \\\"state\\\": \\\"active\\\", \\\"last_modified\\\": \\\"2014-03-01T06:01:18.053221\\\",
        \\\"hash\\\": \\\"0c31cf7a8990144d58bbc37171faa4805d009422\\\", \\\"description\\\":
        \\\"Disposals Database House of Commons Report January 2013\\\", \\\"format\\\":
        \\\"CSV\\\", \\\"tracking_summary\\\": {\\\"total\\\": 0, \\\"recent\\\":
        0}, \\\"mimetype_inner\\\": null, \\\"url_type\\\": null, \\\"date\\\": \\\"8/3/2013\\\",
        \\\"mimetype\\\": \\\"text/html\\\", \\\"cache_url\\\": \\\"http://data.gov.uk/data/resource_cache/58/583cf50b-deb6-45c9-9add-b9b0e27ebbeb/disposal-database-house-of-commons-report\\\",
        \\\"name\\\": null, \\\"created\\\": \\\"2012-11-23T12:34:54.297808\\\", \\\"url\\\":
        \\\"https://www.gov.uk/government/publications/disposal-database-house-of-commons-report\\\",
        \\\"webstore_url\\\": null, \\\"position\\\": 0, \\\"revision_id\\\": \\\"babb04d0-89b6-4ee9-824e-e451b568b949\\\",
        \\\"resource_type\\\": \\\"file\\\"}, {\\\"resource_group_id\\\": \\\"f0c99934-1a9f-4aec-938f-d9a526715f41\\\",
        \\\"cache_last_updated\\\": null, \\\"revision_timestamp\\\": \\\"2014-01-10T17:39:39.518680\\\",
        \\\"webstore_last_updated\\\": null, \\\"id\\\": \\\"998451c9-68fd-4dd5-8f4f-5acda94d709a\\\",
        \\\"size\\\": \\\"10974\\\", \\\"state\\\": \\\"active\\\", \\\"last_modified\\\":
        \\\"2013-04-12T23:10:25.427698\\\", \\\"hash\\\": \\\"4694fd49f89d5b46ea1f7f34bf5712d2701ae667\\\",
  [...]
- request:
    method: get
    uri: http://data.gov.uk/api/rest/package/47f7438a-506d-49c9-b565-7573f8df031e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App:
      - ckan
      X-Varnish-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: "{\"license_title\": \"UK Open Government Licence (OGL)\", \"maintainer\":
        null, \"private\": false, \"maintainer_email\": null, \"id\": \"47f7438a-506d-49c9-b565-7573f8df031e\",
        \"metadata_created\": \"2012-10-05T13:51:55.812923\", \"relationships\": [],
        \"license\": \"UK Open Government Licence (OGL)\", \"metadata_modified\":
        \"2014-03-01T06:01:18.687776\", \"author\": null, \"author_email\": null,
        \"download_url\": \"https://www.gov.uk/government/publications/disposal-database-house-of-commons-report\",
        \"state\": \"active\", \"version\": null, \"creator_user_id\": null, \"type\":
        \"dataset\", \"resources\": [{\"resource_group_id\": \"f0c99934-1a9f-4aec-938f-d9a526715f41\",
        \"cache_last_updated\": \"2013-06-19T01:43:51.480908\", \"package_id\": \"47f7438a-506d-49c9-b565-7573f8df031e\",
        \"webstore_last_updated\": null, \"id\": \"583cf50b-deb6-45c9-9add-b9b0e27ebbeb\",
        \"size\": \"24334\", \"cache_filepath\": \"/mnt/shared/ckan_resource_cache/58/583cf50b-deb6-45c9-9add-b9b0e27ebbeb/disposal-database-house-of-commons-report\",
        \"last_modified\": \"2014-03-01T06:01:18.053221\", \"hash\": \"0c31cf7a8990144d58bbc37171faa4805d009422\",
        \"description\": \"Disposals Database House of Commons Report January 2013\[...]
- request:
    method: head
    uri: https://www.gov.uk/government/publications/disposal-database-house-of-commons-report
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 03 Mar 2014 11:15:11 GMT
- request:
    method: head
    uri: https://www.gov.uk/government/publications/disposal-database-house-of-commons-report-
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
      Etag:
      - "\"531458a7-323c\""
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 03 Mar 2014 11:15:11 GMT
[...]
- request:
    method: head
    uri: https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/253423/20131025_HoC_report_Oct_2013.csv
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/csv
      Content-Disposition:
      - inline; filename="20131025_HoC_report_Oct_2013.csv"
      Etag:
      - "\"526e821c-4947\""
      Last-Modified:
      - Mon, 28 Oct 2013 15:26:20 GMT
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 03 Mar 2014 11:15:12 GMT
[...]
