<p><strong><%= t(message.type) %>
<% if message.row %>
  on row <%= message.row %>
<% end %></strong></p>
<% if message.content %>
  <%= content_tag :pre, message.content %>
<% end %>
<% if i18n_set?("#{message.type}_guidance_html") %>
  <p><%= t("#{message.type}_guidance_html", :encoding => validator.encoding) %></p>
<% end %>
