<% content_for :title do %>
  <%= t(:list).titleize %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>File URL</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @validations.each do |validation| %>
      <%= render 'validation', validation: validation %>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= paginate @validations, :theme => 'twitter-bootstrap-3' %>
</div>
