<div class='container'>
	<div class='span8 footer-content'>
		<h1><a href='http://www.theodi.org'>Open Data Institute</a></h1>
		<p> <a href='http://www.openstreetmap.org/?lat=51.522205&amp;lon=-0.08176500000001852&amp;zoom=16&amp;layers=T&amp;mlat=51.52210&amp;mlon=-0.08343'>Open Data Institute</a><span>, 65 Clifton Street, London EC2A 4JE</span></p>
		<p><a href='mailto:info@theodi.org'>info@theodi.org</a> · Company <a href='http://opencorporates.com/companies/gb/08030289'>08030289</a>	· <span>VAT</span> <span>143 7796 80</span></p>
		<p class='license'><a href='http://creativecommons.org/licenses/by-sa/2.0/uk/deed.en_GB' rel='license'><img alt="Creative Commons Licence" height="15" src="http://theodi.github.io/p2p/img/logo_cc_80x15.png" width="80" /></a></p>
	</div>
	<div class='span4 footer-nav'>
		<nav>
			<ul class='pull-right'>
				<li><a href="http://theodi.org/privacy-policy">Privacy Policy</a></li>
				<li><a href="http://theodi.org/terms-of-use">Terms of Use</a></li>
				<li><a href="http://theodi.org/cookie-policy">Cookie Policy</a></li>
				<li><a href="http://theodi.org/feedback">Feedback</a></li>
			</ul>
		</nav>
	</div>
</div>
