<h3>Error Category</h3>

<p>
The following table provides a summary of the different types of errors broken down by category. The occurrence 
count indicates the number of files in which the error type was found.
</p>

<table class="table">
  <thead>
    <tr>
      <th>Category</th>
      <th>Error Type</th>
      <th>Occurrence</th>
    </tr>
  </thead>
  <tbody>
    <% [:structure, :schema, :context].each do |category| %>
      <% @summary.category_summary.send("#{category}_breakdown").sort_by{|k,v| v}.reverse.each_with_index do |(type,count), index| %>
      <tr>
        <td><strong><%= index == 0 ? t(category) : "" %></strong></td>
        <td><%= t(type) %></td>
        <td><%= count %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>