<% content_for :wrapper do %>
  <header class="page-title">
      <div class="container">
          <h1>Page Archived</h1>
      </div>
  </header>

  <div class="container">
      <div class="row">
        <p style="margin-left: 15px">The page you were looking for has been archived, and is no longer available.</p>
      </div>
  </div>    
<% end %>

<%= render partial: 'www_main' %>
