<% content_for :wrapper do %>
  <header class="page-title">
      <div class="container">
          <h1>Change Rejected</h1>
      </div>
  </header>

  <div class="container">
      <div class="row">
        <p style="margin-left: 15px">Maybe you tried to change something you didn't have access to.</p>
      </div>
  </div>    
<% end %>

<%= render partial: 'www_main' %>
