<% content_for :wrapper do %>
  <header class="page-title">
      <div class="container">
          <h1>Internal Error</h1>
      </div>
  </header>

  <div class="container">
      <div class="row">
        <p style="margin-left: 15px">Sorry, an internal error means we can't show you this page. We've been informed about the problem, and will get it fixed as soon as we can!</p>
      </div>
  </div>    
<% end %>

<%= render partial: 'www_main' %>
