<div class="navbar navbar-inverse navbar-static-top<%= ' mobile-only' if mobile %>">
  <div class="container">
    <% unless mobile %>
      <div class="navbar-header">
        
       <!-- Mobile nav toggle -->
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
       </button>
        
        <a class="navbar-brand" href="/"><%= image_tag('dapaas-logo.svg', alt: "Data as a Platform and Service", id: "odi-logo") %></a>
        
      </div>
      
      <!-- <div class="modal fade" id="getLogo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Looking for logos?
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </h4>
            </div>
            <div class="modal-body">
                  <p>A full set of branding materials including logos and images will soon be available.</p>

              <p>In the meantime, if you want to use our logo, please use one of those below. If you have any queries or questions, please contact <a href="mailto:emma.thwaites@theodi.org">emma.thwaites@theodi.org</a> on 07990 804805</p>

              <p><a rel="external" href="http://bd7a65e2cb448908f934-86a50c88e47af9e1fb58ce0672b5a500.r32.cf3.rackcdn.com/uploads/assets/legacy/ODI%2Dlogo%2Dsml.png"><img src="http://bd7a65e2cb448908f934-86a50c88e47af9e1fb58ce0672b5a500.r32.cf3.rackcdn.com/uploads/assets/legacy/ODI%2Dlogo%2Dsml.png" alt=""></a></p>

              <p><a rel="external" href="http://bd7a65e2cb448908f934-86a50c88e47af9e1fb58ce0672b5a500.r32.cf3.rackcdn.com/uploads/assets/legacy/ODI%2Dlogo%2Dmed.png"><img src="http://bd7a65e2cb448908f934-86a50c88e47af9e1fb58ce0672b5a500.r32.cf3.rackcdn.com/uploads/assets/legacy/ODI%2Dlogo%2Dmed.png" alt=""></a></p>

              <p><a rel="external" href="http://bd7a65e2cb448908f934-86a50c88e47af9e1fb58ce0672b5a500.r32.cf3.rackcdn.com/uploads/assets/legacy/ODI%2Dlogo%2Dmed.png"><img src="http://bd7a65e2cb448908f934-86a50c88e47af9e1fb58ce0672b5a500.r32.cf3.rackcdn.com/uploads/assets/legacy/ODI%2Dlogo%2Dlg.png" alt=""></a></p>

              <p><a rel="external" href="http://bd7a65e2cb448908f934-86a50c88e47af9e1fb58ce0672b5a500.r32.cf3.rackcdn.com/uploads/assets/legacy/ODI%2Dlogo%2Dmed.png"><img src="http://bd7a65e2cb448908f934-86a50c88e47af9e1fb58ce0672b5a500.r32.cf3.rackcdn.com/uploads/assets/legacy/ODI%2Dlogo%2Dxlg.png" alt=""></a></p>
            </div>
          </div>
        </div>
      </div> -->
    <% end %>
    <!--
    <form class="navbar-form navbar-left">
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search ODI"/>
          <input type="submit" value="Go" class="btn"/>
        </div>
      </div>
    </form>
    -->
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/dapaas-contact-us">Contact us</a></li>
      <!-- <li><a href="#about">Sign in</a></li> -->
    </ul>
  </div>
</div>
