/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */

@import "main";
@import "font-awesome";

.course-sidebar {
  @extend .article-sidebar;
  padding: 0;
  margin: 0;
  
  h3 {
    margin: 0 0 17px 0;
    font-size: 28px;
  }
}

.people-body{
  @extend .article-body;
  h3 {
    margin: 0 0 11px 0;
  }
  
}

.module-course, .module-event {
  span.date {
    font-size: 18px;
  }
}

.course-date, .course-location {
  margin: 0 0 10px 0;
  font-size: 18px;
}

.course-meta {
  padding-top: 12px;
  margin-bottom: 0;
  display: table;
  width: 100%;
  
  .course-book {
    text-align: right;
  }
  
  div {
    display: table-cell;
    vertical-align: middle; 
  }
}

.trainer-description {
  margin-top: 20px;
}

.course-leaders {
  margin-bottom: 12px;
}

#juvia_comments {
  .juvia-field {
    @extend .form-group;
    input, textarea {
      @extend .form-control;
      border-radius: 4px;
    }
    .juvia-help {
      @extend .help-block;
    }
  }
  .juvia-submit-button input, .juvia-submitting-button input {
    @extend .btn;
    @extend .btn-primary;
  }
  .juvia-submitting-button input {
    opacity: 0.5;
  }
  .juvia-comment {
    margin-bottom: 25px;
    .juvia-metadata {
      background: $odiBlue;
      color: #fff;
      position: relative;
    }
    .juvia-avatar {
      float: left;
      padding: 0 15px 0 0;
      background-color: #fff;
    }
    .juvia-author {
      padding: 5px;
      margin-left: 84px;
    }
    .juvia-creation-date {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 12px;
    }
    .juvia-comment-content {
      width: 100%;
      padding: 15px 0 0 84px;
    }
    .juvia-reply-to-comment {
      text-align: right;
      font-size: 14px;
    }
  }
}

.modal-content {
  border-radius: 0;
  
  .modal-header {
    background-color: $odiBlue;
    color: #fff;
    
    .close {
      opacity: 0.4;
      filter: alpha(opacity=40);
    }
  }
}

@media (max-width: 767px) {
  #juvia_comments {
    .juvia-comment {
      .juvia-author {
        padding-bottom: 0;
      }
      .juvia-creation-date {
        position: relative;
        left: 10px;
        top: 0;
        padding: 5px;
      }
    }
  }
}

// Social icons

#social {
  margin-top: 16px;

  a {
    display: inline;
    padding: 0 2px;
  }

  .fa-twitter {
    color: #4099FF;
  }
  
  .fa-linkedin-square {
    color: #4875B4;
  }

}

