@import 'bootstrap';

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "main";
@import "font-awesome";

.badge-code {
  table {
    width: 100%;
    td:first-child {
      vertical-align: top;
      padding-right: 10px;
    }
    td:nth-child(2) {
      font-size: 90%;
      width: 100%;
      padding-bottom: 10px;
    }
    textarea {
      width: 100%;      
    }
  }
}



#wrapper {
  .nav-tabs a {
    padding: 10px;
  }

 .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
color: #fff;
background-color: $odiOrange;
}
  
  p {
  font-size: 17px;
  line-height: 26px;
  margin-bottom: 20px;
  color: $odiGreyDark;
  }

  p.options {
    margin: 20px 0 10px;
  }


  
  .col-md-6.primary {
  background-color: #eee;
  padding: 10px;
  }

  .url-group {
    margin-top: 5px;
    width: 100%;
  }

  a.btn-primary {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background: #1dd3a7;
    font-size: 18px;
    padding: 10px 50px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    width: auto;
  }
  
  .btn-file {
      position: relative;
      overflow: hidden;
  }
  
  .btn-file input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      background: white;
      cursor: inherit;
      display: block;
  }
  
  input.form-control {
    background-color: #fff;
    height: 60px;
    font-size: 22px;
    color: $odiGreyLight;

  }

  .input-group.last {
    margin-bottom: 40px;
  }

  .checkbox {
    margin: 20px 0;
  }
  
  .table {
    .url {
      max-width: 270px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .result-badge {
    margin-top: 32px;
  }

  table.report-results {
    .results {
      font-size: 20px;
      text-align: center;
      display: block;
    }
  }
}