$odiBlue: #00b7ff;
$odiBlueDark: #2254f4;
$odiBlueLight: #08def9;
$odiOrange: #ff6700;
$odiYellow: #F9BC26;
$odiRed: #d60303;
$odiGrey: #888888;
$odiGreyDark: #333333;
$odiGreyLight: #BBBBBB;

// Colour variables, primarily for home modules
$odiColour1: #D60303; // red
$odiColour2: $odiOrange; // orange
$odiColour3: $odiYellow; // yellow
$odiColour4: #67EF67; //light green
$odiColour5: #0DBC37; // med green
$odiColour6: #1dd3a7; // turquoise
$odiColour7: $odiBlueDark; // dark blue
$odiColour8: $odiBlue;
$odiColour9: $odiBlueLight; // light blue
$odiColour10: #ef3aab; // pink
$odiColour11: #e6007c; // magenta
$odiColour12: #b13198; // purple