@import "colours";

h1.site-title {
  font-size: 32px;
  margin: 10px 0;
  position: relative;
  a {
    color: #fff;
    &:hover {
      text-decoration: none;
    }
  }
  .label {
    position: absolute;
    font-size: 12px;
    top: -12px;
    right: -60px;
    padding: 5px;
  }
}

.odi-blue {
  .page-title, .site-title .status {
    background-color: $odiBlue;
  }
  .caret {
    border-top-color: $odiBlue;
    border-bottom-color: $odiBlue;
  }
}
.odi-blue-dark {
  .page-title, .site-title .status {
    background-color: $odiBlueDark;
  }
  .caret {
    border-top-color: $odiBlueDark;
    border-bottom-color: $odiBlueDark;
  }
}
.odi-blue-light {
  .page-title, .site-title .status {
    background-color: $odiBlueLight;
  }
  .caret {
    border-top-color: $odiBlueLight;
    border-bottom-color: $odiBlueLight;
  }
}
.odi-orange {
  .page-title, .site-title .status {
    background-color: $odiOrange;
  }
  .caret {
    border-top-color: $odiOrange;
    border-bottom-color: $odiOrange;
  }
}
.odi-red {
  .page-title, .site-title .status {
    background-color: $odiRed;
  }
  .caret {
    border-top-color: $odiRed;
    border-bottom-color: $odiRed;
  }
}
.odi-orange {
  .page-title, .site-title .status {
    background-color: $odiOrange;
  }
  .caret {
    border-top-color: $odiOrange;
    border-bottom-color: $odiOrange;
  }
}
.odi-green {
  .page-title, .site-title .status {
    background-color: $odiColour5;
  }
  .caret {
    border-top-color: $odiColour5;
    border-bottom-color: $odiColour5;
  }
}
.odi-turquoise {
  .page-title, .site-title .status {
    background-color: $odiColour6;
  }
  .caret {
    border-top-color: $odiColour6;
    border-bottom-color: $odiColour6;
  }
}
.odi-magenta {
  .page-title, .site-title .status {
    background-color: $odiColour11;
  }
  .caret {
    border-top-color: $odiColour11;
    border-bottom-color: $odiColour11;
  }
}
.odi-purple {
  .page-title, .site-title .status {
    background-color: $odiColour12;
  }
  .caret {
    border-top-color: $odiColour12;
    border-bottom-color: $odiColour12;
  }
}