<% content_for :title do %>
  API
<% end %>

<h2>How to Use the CSVLint Webservice API</h2>

<p>
  CSVLint has a Webservice API that allows you to POST a file and return a validation.
</p>

<p>Currently you POST a file like so:</p>

<pre><code>curl -L --data "urls[]=http://theodi.github.io/hot-drinks/hot-drinks.csv" http://csvlint.io/package.json
</code></pre>

<p>(<code>urls[]</code> can also be a comma separated list of urls) </p>

<p>Or with a schema:</p>

<pre><code>curl -L --data "urls[]=http://theodi.github.io/hot-drinks/hot-drinks.csv&amp;schema=1&amp;schema_url=http://example.com/some_schema.json" http://csvlint.io/package.json
</code></pre>

<p>And you get back some json with a URL to a package:</p>

<div class="highlight highlight-JSON"><pre>{
  <span class="pl-s"><span class="pl-pds">"</span>package<span class="pl-pds">"</span></span>: {
    <span class="pl-s"><span class="pl-pds">"</span>url<span class="pl-pds">"</span></span>:<span class="pl-s"><span class="pl-pds">"</span>http://csvlint.io/package/53a150336373764c17170700<span class="pl-pds">"</span></span>
  }
}</pre></div>

<p>You can then get the validation by making a request to the JSON version of the package like so:</p>

<pre><code>curl http://csvlint.io/package/53a150336373764c17170700.json
</code></pre>

<p><strong>Note</strong> Currently the package is created in the background, so may not be available immediately. This will change in the future. </p>

<p>This then returns the JSON version of the package:</p>

<div class="highlight highlight-JSON"><pre>{
  <span class="pl-s"><span class="pl-pds">"</span>version<span class="pl-pds">"</span></span>:<span class="pl-s"><span class="pl-pds">"</span>0.1<span class="pl-pds">"</span></span>,
  <span class="pl-s"><span class="pl-pds">"</span>licence<span class="pl-pds">"</span></span>:<span class="pl-s"><span class="pl-pds">"</span>http://opendatacommons.org/licenses/odbl/<span class="pl-pds">"</span></span>,
  <span class="pl-s"><span class="pl-pds">"</span>package<span class="pl-pds">"</span></span>:{
    <span class="pl-s"><span class="pl-pds">"</span>validations<span class="pl-pds">"</span></span>:[
      {
        <span class="pl-s"><span class="pl-pds">"</span>url<span class="pl-pds">"</span></span>:<span class="pl-s"><span class="pl-pds">"</span>http://csvlint.io/validation/53566ef96373767abf010000<span class="pl-pds">"</span></span>,
        <span class="pl-s"><span class="pl-pds">"</span>source<span class="pl-pds">"</span></span>:<span class="pl-s"><span class="pl-pds">"</span>http://theodi.github.io/hot-drinks/hot-drinks.csv<span class="pl-pds">"</span></span>,
        <span class="pl-s"><span class="pl-pds">"</span>state<span class="pl-pds">"</span></span>:<span class="pl-s"><span class="pl-pds">"</span>invalid<span class="pl-pds">"</span></span>
      }
    ]
  }
}</pre></div>

<p>You can then get the full validation by making a GET request to the actual validation URL:</p>

<pre><code>curl http://csvlint.io/validation/53566ef96373767abf010000.json
</code></pre>

<div class="highlight highlight-JSON"><pre>{
  <span class="pl-s"><span class="pl-pds">"</span>version<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>0.1<span class="pl-pds">"</span></span>,
  <span class="pl-s"><span class="pl-pds">"</span>licence<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>http://opendatacommons.org/licenses/odbl/<span class="pl-pds">"</span></span>,
  <span class="pl-s"><span class="pl-pds">"</span>validation<span class="pl-pds">"</span></span>: {
    <span class="pl-s"><span class="pl-pds">"</span>url<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>http://csvlint.io/validation/53566ef96373767abf010000<span class="pl-pds">"</span></span>,
    <span class="pl-s"><span class="pl-pds">"</span>source<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>http://theodi.github.io/hot-drinks/hot-drinks.csv<span class="pl-pds">"</span></span>,
    <span class="pl-s"><span class="pl-pds">"</span>state<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>invalid<span class="pl-pds">"</span></span>,
    <span class="pl-s"><span class="pl-pds">"</span>errors<span class="pl-pds">"</span></span>: [
      {
        <span class="pl-s"><span class="pl-pds">"</span>type<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>undeclared_header<span class="pl-pds">"</span></span>,
        <span class="pl-s"><span class="pl-pds">"</span>category<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>structure<span class="pl-pds">"</span></span>,
        <span class="pl-s"><span class="pl-pds">"</span>row<span class="pl-pds">"</span></span>: <span class="pl-c1">null</span>,
        <span class="pl-s"><span class="pl-pds">"</span>col<span class="pl-pds">"</span></span>: <span class="pl-c1">null</span>
      }
    ],
    <span class="pl-s"><span class="pl-pds">"</span>warnings<span class="pl-pds">"</span></span>: [
      {
        <span class="pl-s"><span class="pl-pds">"</span>type<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>header_name<span class="pl-pds">"</span></span>,
        <span class="pl-s"><span class="pl-pds">"</span>category<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>schema<span class="pl-pds">"</span></span>,
        <span class="pl-s"><span class="pl-pds">"</span>row<span class="pl-pds">"</span></span>: <span class="pl-c1">null</span>,
        <span class="pl-s"><span class="pl-pds">"</span>col<span class="pl-pds">"</span></span>: <span class="pl-c1">1</span>
      },
      {
        <span class="pl-s"><span class="pl-pds">"</span>type<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>header_name<span class="pl-pds">"</span></span>,
        <span class="pl-s"><span class="pl-pds">"</span>category<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>schema<span class="pl-pds">"</span></span>,
        <span class="pl-s"><span class="pl-pds">"</span>row<span class="pl-pds">"</span></span>: <span class="pl-c1">null</span>,
        <span class="pl-s"><span class="pl-pds">"</span>col<span class="pl-pds">"</span></span>: <span class="pl-c1">2</span>
      },
      {
        <span class="pl-s"><span class="pl-pds">"</span>type<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>header_name<span class="pl-pds">"</span></span>,
        <span class="pl-s"><span class="pl-pds">"</span>category<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>schema<span class="pl-pds">"</span></span>,
        <span class="pl-s"><span class="pl-pds">"</span>row<span class="pl-pds">"</span></span>: <span class="pl-c1">null</span>,
        <span class="pl-s"><span class="pl-pds">"</span>col<span class="pl-pds">"</span></span>: <span class="pl-c1">3</span>
      },
      {
        <span class="pl-s"><span class="pl-pds">"</span>type<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>header_name<span class="pl-pds">"</span></span>,
        <span class="pl-s"><span class="pl-pds">"</span>category<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>schema<span class="pl-pds">"</span></span>,
        <span class="pl-s"><span class="pl-pds">"</span>row<span class="pl-pds">"</span></span>: <span class="pl-c1">null</span>,
        <span class="pl-s"><span class="pl-pds">"</span>col<span class="pl-pds">"</span></span>: <span class="pl-c1">4</span>
      }
    ],
    <span class="pl-s"><span class="pl-pds">"</span>info<span class="pl-pds">"</span></span>: [
      {
        <span class="pl-s"><span class="pl-pds">"</span>type<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>assumed_header<span class="pl-pds">"</span></span>,
        <span class="pl-s"><span class="pl-pds">"</span>category<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>structure<span class="pl-pds">"</span></span>,
        <span class="pl-s"><span class="pl-pds">"</span>row<span class="pl-pds">"</span></span>: <span class="pl-c1">null</span>,
        <span class="pl-s"><span class="pl-pds">"</span>col<span class="pl-pds">"</span></span>: <span class="pl-c1">null</span>
      },
      {
        <span class="pl-s"><span class="pl-pds">"</span>type<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>nonrfc_line_breaks<span class="pl-pds">"</span></span>,
        <span class="pl-s"><span class="pl-pds">"</span>category<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>structure<span class="pl-pds">"</span></span>,
        <span class="pl-s"><span class="pl-pds">"</span>row<span class="pl-pds">"</span></span>: <span class="pl-c1">null</span>,
        <span class="pl-s"><span class="pl-pds">"</span>col<span class="pl-pds">"</span></span>: <span class="pl-c1">null</span>
      }
    ],
    <span class="pl-s"><span class="pl-pds">"</span>standardisedCSV<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>http://csvlint.io/validation/53566ef96373767abf010000.csv<span class="pl-pds">"</span></span>,
    <span class="pl-s"><span class="pl-pds">"</span>badges<span class="pl-pds">"</span></span>: {
      <span class="pl-s"><span class="pl-pds">"</span>svg<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>http://csvlint.io/validation/53566ef96373767abf010000.svg<span class="pl-pds">"</span></span>,
      <span class="pl-s"><span class="pl-pds">"</span>png<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>http://csvlint.io/validation/53566ef96373767abf010000.png<span class="pl-pds">"</span></span>
    }
  }
}</pre></div>

<h2>Gems</h2>

<p>
  This application uses the <code>csvlint.rb</code> Ruby gem made by the Open Data Institute.
  For details on how to use the gem yourself, visit <a href = "https://github.com/Data-Liberation-Front/csvlint.rb">
  https://github.com/Data-Liberation-Front/csvlint.rb</a>.
</p>
