<% content_for :title do %>
  Your privacy
<% end %>

<p>We collect data about you when you use this service. We do this so that we can understand what interests people and how we can improve the site. We share some of this data with third parties who provide us with analytics and other services.</p>

<p>You have rights over what is done with data that is about you. You can contact us at datacontroller@theodi.org if you want to get a copy of that data. You can also ask us to update it, delete it or stop using it.</p>

<h2>What data do we collect and why?</h2>

<p>Depending on how you use the service, we may store temporarily or permanently the data you submit:</p>

<ul>
    <li>If you submit the URL for the data to be checked<ul>
        <li>The File data is not stored locally</li>
        <li>The URL is stored in the service’s validation history, and added to the list of Recent validations.</li>
    </ul></li>
    <li>If you upload a file for validation, the file data is stored temporarily in order to allow validation, and deleted automatically after 24 hours have elapsed since upload.</li>
</ul>

<p>We also collect data as you use this website about:</p>

<ul>
<li>what pages you access, so that we know what content is popular</li>
<li>the device and software you use, so that we know how to design the site</li>
<li>your location, so that we know where in the world we reach</li>
</ul>

<p>We do not link this back to your name or email address and we only store it in aggregated form.</p>

<p>Your browser stores some of this data using cookies. Your browser sends cookie data to us and third parties every time you visit our pages. Our cookie policy has more information about the cookies we use and why we use them.</p>

<h2>How do we use this data?</h2>

<p>We use this data to:</p>

<ul>
  <li>understand what the users of our website need so we can improve it</li>
</ul>

<p>We do not use it for any automated decision making.</p>

<h2>How do we share this data?</h2>

<p>We share this data with a few third parties, who process it to give us better understanding:</p>

<ul>
  <li>Google Analytics, to analyse the users of our website</li>
</ul>

<p>We have made sure the third parties who are not in the EU protect the data to the same extent as companies in the EU.</p>

<p>We may also need to share this data with the authorities if they ask us to do so.</p>

<h2>What rights and control do you have?</h2>

<p>Because we operate in the UK, you have rights over the data about that we collect. You can:</p>
<ul>
  <li>ask for a copy of data we have collected about you</li>
  <li>ask us to update that data</li>
  <li>ask us to delete it</li>
  <li>ask us to stop using it</li>
</ul>

<p>If you ask for a copy of data we have about you, we have to provide it to you free of charge. You can ask us to send it directly to a third party. We have to provide it in a commonly-used machine-readable format.</p>

<p>Contact: datacontroller@theodi.org.</p>

<p>Please tell us if you have concerns about how we collect, use or share data about you. You can also raise your concerns with the UK Information Commissioner’s Office.</p>

<h2>When might this policy change?</h2>

<p>We created this privacy policy on 15th May 2018.</p>

<h2>Who can I talk to about this policy?</h2>

<p>Please send any questions about this privacy policy to datacontroller@theodi.org.</p>

<p>The data controller for this website is Open Data Institute of 65 Clifton Street, London, EC2A 4JE. Our data protection officer is Leigh Dodds.</p>
